.card {
  margin: 10px 0; 
  border-radius: 10px;
  height: auto;
  text-align: start;
  transition: box-shadow 0.3s ease-in-out;
  background-color: #4d4d4d55;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.377);
  padding: 8px;
  color: white;
}

.card:hover {
  box-shadow: 1px 1px 5px rgba(132, 132, 132, 0.916);
  cursor: pointer;
}

.titulo-card {
    margin: 10px;
    margin-top: -10px;

}

.titulo-card h6 {
    color: #ffffff;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;

    margin: 0;
}

.titulo-card h5 {
    margin: 20px 0px 10px 0px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .popup {
    background: rgb(0, 0, 0);
    padding: 10px 50px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
    width: 400px;
    text-align: center;
    color: white;
  }


  label {
    display: block; 
    margin-bottom: 20px;
    font-weight: bold;
  }
  
  
  .popup input,
  .popup textarea {
    width: 100%;
    padding: 10px;
    margin: 20px 0;
    border-radius: 10px;
    border: solid 0.5px rgba(0, 0, 0, 0.151);
  }
  
  .popup button {
    color: rgb(255, 255, 255);
    padding: 20px 20px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
  }

  .botoes {
    display: flex;
    justify-content: center;
    gap: 25px;
  }

  .salvar {
    background: rgb(52, 97, 52);
  }
  .fechar {
    background: rgb(174, 174, 174);
  }

  .ql-editor {
    font-size: 16px;
    min-height: 150px;
    background-color: #ffffff;
    border-radius: 5px;
    padding: 10px;
  }
  
  .ql-toolbar {
    background-color: #ffffff;
    border-radius: 5px 5px 0 0;
  }