.coluna {
    width: 250px; /* Largura fixa */
    min-width: 250px; /* Garante que não encolha */
    height: 80vh; /* Altura fixa */
    border: 0.1px solid #dddddd36;
    border-radius: 10px;
    box-sizing: border-box;
    background-color: #fff;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    margin-top: 100px;
  }
  
  .header-coluna {
    display: flex;
    justify-content: space-around;
    gap: 10px;
    box-sizing: border-box;
    border-radius: 10px 10px 0 0;
    text-align: center;
    height: 60px;
  }
  
  .titulo-coluna {
    max-width: 80%;
    word-wrap: break-word;
    overflow-wrap: break-word;
    text-align: center;
    all: unset;
    font-size: 1rem;
  }
  
  .titulo-coluna:focus {
    border-bottom: 2px solid black;
  }
  
  .coluna:hover {
    box-shadow: 1px 1px 5px rgba(222, 222, 222, 0.742);
  }
  
  .icones-coluna {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
  
  .icones-coluna svg {
    height: auto;
    cursor: pointer;
  }
  
  .lista-cards {
    flex-grow: 1; /* Ocupa o espaço restante */
    overflow-y: auto; /* Rolagem vertical */
    padding: 8px;
  }
